<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/89d2917e-9807-4b5a-9468-33dfbed0efec/resourcegroups/AteaGlobalServices/providers/Microsoft.Web/sites/WebGUI220180602042354</ResourceId>
    <ResourceGroup>AteaGlobalServices</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webgui220180602042354.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webgui220180602042354.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebGUI220180602042354</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebGUI220180602042354</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ArticleContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mycommondb.database.windows.net,1433;Initial Catalog=Common;Persist Security Info=False;User ID=sauser;Password=mmd2014MMD;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:mycommondb.database.windows.net,1433;Initial Catalog=Common;Persist Security Info=False;User ID=sauser;Password=mmd2014MMD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Domain.ArticleContext, Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ArticleContext-Web.config Connection String">
      <ParameterValue>Server=tcp:mycommondb.database.windows.net,1433;Initial Catalog=Common;Persist Security Info=False;User ID=sauser;Password=mmd2014MMD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ArticleContext" />
  </ItemGroup>
</Project>